p{
    text-align: center;
}

















/* #box{
    background-color: blue;
}
.heading{
    color: red;
}
button{
    background-color: green;
}
 */

/* *{
    background-color:  violet;
    color: grey;
} 

h1{
    color: red ;
    background-color: blue;
}

.greetings{
    color: steelblue;
}
/* id="unique id */
/* #id1{
    color: black;
}
#id2{
    color: brown;
}
#id3{
    color: grey;
} */
/* p{
    color: orange;
}
button{
    color: black;
    background-color: orange;
}
body{
    background-color: #8ecae6 ;
} */  