* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

.d-flex {
    display: flex;
}

.align-item-center {
    align-items: center;
}

.align-item-left {
    align-items: flex-start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-item-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.strawpoll-landing-page {
    width: 100%;
}

.front-page {
    width: 100%;
    /* background-color: aqua; */
}

.navigation-bar {
    width: 100%;
    position: fixed;
    top: 0px;
    border-bottom: 1px solid #424f62;
    background-color: #1f2937;
}

.nav-bar {
    width: 90%;
    /* border: 1px solid black; */
    background-color: #1f2937;
}

.left-navbar-section {
    width: 50%;
}

.strawpoll-logo {
    width: 30%;
}

.left-section-btns {
    width: 70%;
}

.right-navbar-section {
    width: 15%;
    /* background-color: red; */
}

.user-btns {
    width: 100%;
}

.logo {
    font-size: 30px;
    font-weight: 600;
    color: white;
    padding: 9px 20px 9px 0px;
}

.user-buttons {
    text-decoration: none;
    font-weight: 500;

}

.login-btn {
    color: #dfe2e8;
    /* border: 1px solid black; */
    font-size: 14px;
    padding: 10px 20px 10px 20px;
}

.sign-up-btn {
    color: white;
    background-color: #6366f1;
    border: 1px solid #6366f1;
    font-size: 14px;
    padding: 8px 16px;
    margin-right: 15px;
    border-radius: 8px;
}

.front-landing-page {
    /* width: 100%; */
    background-color: #111827;
}

/* .front-img-background{
} */
.index-splash {
    margin-top: 98px;
    border: 1px solid #111827;
    border-radius: 16px;
    box-shadow: 10px;
}

.create-poll:hover {
    border-bottom: 2px solid rgb(192, 187, 187);
    padding: 21px 10px 19px 10px;
    color: #cbced2;
}

.schedule-meeting:hover {
    border-bottom: 2px solid rgb(192, 187, 187);
    padding: 21px 10px 19px 10px;
    color: #cbced2;
}

.demo:hover {
    border-bottom: 2px solid rgb(192, 187, 187);
    padding: 21px 10px 19px 10px;
    color: #cbced2;
}

.pricing:hover {
    border-bottom: 2px solid rgb(192, 187, 187);
    padding: 21px 10px 19px 10px;
    color: #cbced2;
}

.navbar-buttons {
    text-decoration: none;
    color: #dfe2e8;
    font-size: 14px;
    font-weight: 600;
    padding: 21px 10px 21px 10px;
}
.login-btn:hover {
    color: #818CF8;
    /* border: 1px solid black; */
    font-size: 14px;
    padding: 10px 20px 10px 20px;
}
.sign-up-btn:hover {
    color: white;
    background-color: #4F46E5;
    border: 1px solid #4F46E5;
    font-size: 14px;
    padding: 8px 16px;
    margin-right: 15px;
    border-radius: 8px;
}
.bottom-section {
    width: 100%;
    margin-top: 100px;
    border-top: 1.5px solid #445064;
    background-color: rgba(17, 24, 39, 255);
}

.footer-container {
    width: 90%;
    padding-top: 60px;
    /* border: 1px solid white; */
}

.copyright-text {
    color: #9CA3AF;
}

.link-list {
    list-style: none;
}
li{
    margin-top: 16px;
}
.link{
    color: rgb(129 140 248);
    
}
.link:hover{
    color: rgb(99 102 241);
}
.about-strawpoll{
    width: 31%;
}
.footer-links-section{
    width: 100%;
}
.footer-heading{
    color: #D1D5DB;
}
.footer-strawpoll-logo{
    color: #D1D5DB;
}
.footer-color{
    color: #D1D5DB;
}
.language{
    color: #E5E7EB;
}
.language-button{
    font-size: 14px;
    background-color: rgb(55 65 81);
    border: 1px solid  rgb(55 65 81);
    padding: 8px 16px;
    border-radius: 5px;
    
}
.language-button:hover{
    background-color: rgb(81, 92, 111);
    border: 1px solid  rgb(81, 92, 111);
    cursor: pointer;
}
/* .dropdown-icon{
    margin-left: 500px;
} */
 .language-text{
    margin-right: 9px;
 }
 .copyrights{
    padding: 32px 0 32px 0;
    margin-top: 48px;
    width: 100%;
 }
 .footer-text{
    margin-top: 32px;
    word-spacing: -1px;
 }
 .btn{
    margin-left: 12px;
    display: flex;
 }
 .social-media-links{
    width: 100%;
    margin-top: 32px;
 }
.language-option{
    margin-top: 32px;
}
.l-button{
    margin-left: 12px;
}
.footer-h3{
    font-weight: 600;
    font-size: 16px;
}
.strawpoll-link-section{
    width: 69%;
}
.link-box{
    width: 45%;
    /* margin-left: 15px; */
}
.solution-support-section{
    width: 42%;
}
.company-legal-section{
    width: 42%;
}